body
{
    font-family: "Avenir Next", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* header */
.title{
    margin: 0 auto;
}
header h1
{
    color: navy;
    font-family: 'Lora', serif;
    font-variant: small-caps;
}
header img{
    position: relative;
    margin-top: -3.3%;
    float: left;
    z-index: -1;
}

/* navigation*/
.nav{
    background-color: navy;   
     clear: left;
    border-bottom: 5px solid #0099ff;
}
.nav ul{
    margin-bottom: 0;
}
.nav li 
{
    display: inline;  
}
.nav li a
{   
    padding: 0 3.4%;
    line-height: 290%;
    font-size: 13px;
    list-style: none;
    color: white;  
    text-decoration: none;
    text-transform: uppercase;
}

.nav li a:hover{
    display: inline-block;
    background-color: #0099ff;
    
}

/* for Tablets and desktop*/
@media (min-width: 601px){    
    body {
        font-size : 1.6vw ; 
    }
    .title{
        width: 80%;
    }
    @-moz-document url-prefix() {
    .title{
        width: 95%;
    }
}
    header img{
     width: 15%;   
    }    
}

/*for mobile phones */
@media (min-width: 300px) and (max-width: 600px){
    
    body {
        font-size : 3vw ; 
    }
    .title{
        width: 90%;
    }
    @-moz-document url-prefix() {
    .title{
        width: 99%;
    }
}
    header img{
        width: 40%;
    }
    
    .nav li a{
        display : block;
        text-align: center;
    }
    .nav ul{
        padding-left: 0;
    }
    .nav li a:hover{
        display:block;
    }
}


