.welcome
{
    position: relative;
    max-height: 200px;
}

.welcome img{
    background-color: black;
    width: 100%;
    object-fit: cover;
    object-position: 50% 60%;
    max-height: 200px;
}
/* week mag */
img.bill{
   object-position: 50% 40%;
}

/* vision */
.vision{
    font-size: 30px;
    margin: 0;
}
.curtain{
    width: 100%;
    height:100%;
    background-color: black;
    position: absolute;
    opacity:0.6;
}

.welcome span{
    position: absolute;
    bottom: 5%;
    font-size: 30px;
    left: 5%;
    color: white;
}
main{
    width: 90%;
    margin: 0 auto;
}

.button{
    background-color: navy;
    width: 50%;
    margin-top:2%;
    padding: 10px 20px;
    text-align: center;
}
.button a.dropdown , .button{
    text-decoration: none;
    color: white;
    display: none;    
}

.nav{
    float:left;
    background-color: navy;
    width: 30%;
    padding:20px 0px;
    margin: 3% 0;
    text-align: center;
}
.nav ul{
    padding: 0;
    display: inline-block;
}
.nav li{
    list-style: none;
    line-height: 4;    
}
.nav li a{
    text-decoration: none;
    color: white;
}
section{    
    float:right;
    width: 60%;
    margin: 1% 0 3% 3%;
    padding-left: 20px;
}
/* courses */
.courses section{
    float: left;
    width: 100%;
}
.ugcourses{
    width:50%;
    float:left;
}

.pgcourses{
    float: right;
    width: 50%;
}
section li , .gallery li{
    display:inline;  
}
section ul , .gallery ul{
    margin-left: -35px;
}
section a , .gallery a{
    text-decoration: none;
    color: black;
}
section li:not(:first-child):before ,.gallery li:not(:first-child):before{
    content: '>';
}
section li:not(:last-child) , .gallery li:not(:last-child){
    font-weight: bold;
}

section h2 ,.gallery h2{
    color:navy;
    font-weight: normal;
    font-size: 35px;
}
section .chairman{
    float: left;
    margin: 0 25px 25px 0;
    clear:left;
}
section p{
    line-height: 2;
    text-align: justify;
    font-size: 15px;
}
.nav, aside .button , section li a{
    font-size: 15px;
}
.nav li a:hover, section a:hover{
    text-decoration: underline;
}
/* gallery */
.gallery{
    float:left;
    clear:both;
    width: 100%;
     margin: 1% 0 5% 0;
    padding: 0;
   
}
.row::after{
    content: '';
    clear:both;
    display: table;
    margin: 50px;
}
.photo{
    float:left;
    width: 25%;
    background-color: lightgrey;
    padding: 10px; 
}
.photo p{
    text-align: center;
    margin: 0;
}
.photo img{
    width: 100%;
    height: 200px;
}
.gallery div.row:nth-child(5)::after{
    margin: 0;
}
 .row div:nth-child(2){
    margin:0 9.9% ;
}
.Slides{
    display: none;
}
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
@media (max-width: 800px){
    .nav{
        display:none;
        width:50%;
    }
    .button a.dropdown, .button {
        display: block;
        margin-left: 0px;
    }
    section{
        clear:right;
        width: 100%;
        margin-left:-30%;
    }
    .nav.responsive {    
        position: relative;
    }
    .nav.responsive a.dropdown {
        position: absolute;
        left: 50;
        top: 30;
    }
    .nav.responsive  {
        float: none;
        display: block;
        padding: 0 20px;
        margin:0;
        text-align: left;
    }
    .nav li{
        line-height: 2;
    }

}

@media (max-width:600px){
    .welcome img, .welcome{
        max-height: 150px;
    }
    .welcome span{
        font-size: 25px;
    }
    hr{
        display: none;
    }
    
    aside .nav , aside .button{
        width: 100%;
        margin: 0 auto;
    }
     aside .button{
        padding: 10px 0;
        margin-top: 10px;
    }
    .button a.dropdown, .button{
        display: block;
        margin-left: 0;
    }
    .nav.responsive{
        margin-top: 0px;
        padding: 0;
        text-align: center;
    }
}
